h1 {
    font-family: 'Bitter', serif;
    font-size:50;
    color:#F16667;
    text-align:center;
}

h2 {
    font-family: 'Bitter', serif;
    font-size:30;
    text-align:center;
}

#sitedes {
    font-family: 'Raleway', sans-serif;
    width:50%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    line-height: 2;
}

#start {
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    background-color:#15556F;
    transition: background-color 0.5s;
}

#startText {
    font-family: 'Bitter', serif;
    color:aliceblue;
    font-size: 30px;
    text-decoration: none;
    
}

#start:hover {
    background-color:#F16667;
}


p.description {
    text-align:center;
    font-family: 'Arial', sans-serif;
    font-size:20;
}


div.center {
    display:block;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:60%;
}

div.footer {
    margin-left: auto;
    margin-right: auto;
    width:80%;
}

div.text {
    position:absolute;
    opacity:0;
    transition:opacity 0.5s;
}

div.arrowHolder {
    margin-left: auto;
    margin-right: auto;
    width:10%;
    align-content: center;
    display:block;
}

div.home {
    margin-left: auto;
    margin-right: auto;
    width:3%;
    height:10%;
    display:block;
}

p.hoverText {
    font-family:'Calibri', sans-serif;
    font-size:12px;
    
}

img.big {
    width:100%;
}

img.arrowLeft {
    transform:scaleX(-1);
    width:40%;
    display:inline-block;
    float:left;
}

img.arrowRight {
    width:40%;
    display: inline-block;
    float:right;
}

img.homePic {
    display:block;
    width:100%;
}

rect {
    stroke-width:5;
    stroke:#4492AA;
    fill-opacity:0;
    transition: stroke 0.5s;
}

rect.girl {
    stroke:#F16667;
}

rect:hover {
    stroke: white;
}

svg {
    position:absolute;
}


/***************page 1***********/


#text1 {
    width:24%; top:75%; left:-25%;
    text-align:right;
}
#text2 {
    width:24%; top:3%; left:101%;
    text-align:left;
}
#text3 {
    width:24%; left:-25%; top:40%;
    text-align:right;
}
#box1 {
    top:75%; left:37%;
}
#box1:hover ~ #text1 {
    opacity:1;
}
#box2 {
    top:3%; left:63%;
}
#box2:hover ~ #text2 {
    opacity:1;
}
#box3 {
    top:40%; left:5%;
}
#box3:hover ~ #text3 {
    opacity:1;
}


/***************page 2***********/


#text4 {
    width:24%; top:43%; left:-25%;
    text-align:right;
}
#text5 {
    width:24%; top:3%; left:101%;
    text-align:left;
}
#text6 {
    width:24%; left:101%; top:35%;
    text-align:left;
}
#box4 {
    top:45%; left:4%;
}
#box4:hover ~ #text4 {
    opacity:1;
}
#box5 {
    top:8%; left:61%;
}
#box5:hover ~ #text5 {
    opacity:1;
}
#box6 {
    top:37%; left:80%;
}
#box6:hover ~ #text6 {
    opacity:1;
}


/***************page 3***********/


#text7 {
    width:24%; top:20%; left:101%;
    text-align:left;
}
#text8 {
    width:24%; top:58%; left:-25%;
    text-align:right;
}
#text9 {
    width:24%; left:101%; top:35%;
    text-align:left;
}
#box7 {
    top:35%; left:52%;
}
#box7:hover ~ #text7 {
    opacity:1;
}
#box8 {
    top:58%; left:0.5%;
}
#box8:hover ~ #text8 {
    opacity:1;
}
#box9 {
    top:35%; left:60%;
}
#box9:hover ~ #text9 {
    opacity:1;
}


/***************page 4***********/


#text10 {
    width:24%; top:30%; left:-25%;
    text-align:right;
}
#text11 {
    width:24%; top:3%; left:101%;
    text-align:left;
}
#text12 {
    width:24%; left:101%; top:35%;
    text-align:left;
}
#box10 {
    top:25%; left:1.5%;
}
#box10:hover ~ #text10 {
    opacity:1;
}
#box11 {
    top:45%; left:50%;
}
#box11:hover ~ #text11 {
    opacity:1;
}
#box12 {
    top:48%; left:69%;
}
#box12:hover ~ #text12 {
    opacity:1;
}

